@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Notable&display=swap');

$primary-color: #222222;
$secondary-color: #fefae0;
$tertiary-color: #081c15;
$one-color-like-that: #2f3e46;

$primary-text-color: #f2f2f2;
$secondary-text-color: #333333;

$lato: 'Lato', sans-serif;
$notable: 'Notable', sans-serif;